<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
    <title>Admin Request</title>
</head>
<body>
    <div id="head">
        <h1 style="text-align: center;">Requests : </h1>
        <div id="logoutbut" style="text-align: center;">   <a href="/logout"><button>Logout</button></a></div>
    </div>
    
    <div id="requestscreen">

    </div>
</body>

<script src="/script/AdminRequest.js"></script>
</html>
<style>
    body{
        background-color: rgba(3, 3, 3, 0.884);
        
    }
    #head{
       background-color: rgba(205, 138, 50, 0.455);
        text-align: center;
  color: rgba(245, 245, 245, 0.83);
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  padding: 1px;
  border-radius: 30px;
  margin-bottom: auto;
    }
    fieldset{
        color: white;
        background-color: rgba(128, 128, 128, 0.551);
        font-family: 'IBM Plex Sans Arabic', sans-serif;
    }
    button
{
  text-align: center;
   font-weight: bold;
  padding: 10px;
  border-radius: 15px;
   background-color: rgba(223, 193, 58, 0.719);
   margin: 10px;
font-family: 'IBM Plex Sans Arabic', sans-serif;
} 
button:hover
{
  background-color: black;
  color: white;
}
</style>