<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet">
    <title>DMS</title>
</head>
<body>
    <h1> Welcome To Document Management System</h1>
    <h3>Please Contact Your Administrator To Get Access To This Page. </h3>
    <form action="/logout">
        <input type="submit" value="LogOut">
    </form>
</body>
</html>

<style>
h1{
    text-align: center;
    color: whitesmoke;
    padding: 20px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
body{
    background-color: black;
    text-align: center;
}
h3{
    text-align: center;
    color: red;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
input{
    text-align: center;
   font-weight: bold;
  padding: 10px;
  border-radius: 15px;
   background-color: rgba(223, 193, 58, 0.986);
   margin: 10px;
font-family: 'IBM Plex Sans Arabic', sans-serif;
}
input:hover
{
  background-color: white;
  color: Black;
}
</style>